
.container_for_image_and_product_details{
    background-color: azure;
    display: flex;
}
.product_images_container{
    height:600px;
    width: 40%;
    background-color: rgb(247, 218, 164);
    border-radius: 8px;
    border: 2px solid white;
}

.details_of_product{
    height:600px;
    background-color: rgb(247, 218, 164);
    width: 60%;
    border-radius: 8px;
    border: 2px solid white;
}

.reviews_of_product{
    height: 500px;
    background-color: rgb(244, 214, 159);
}